@{
    ViewData["Title"] = "Product Management";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>Products</h2>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <button class="btn btn-primary float-right" id="btnAdd">+ Add</button>
            </div>
        </div>
    </div>
    <div id="product-container">
        <table class="table table-striped table-bordered" style="width:100%" id="tblProduct">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Weight</th>
                    <th>Image</th>
                    <th>Ammount</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addProductForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="addProductName">Product Name</label>
                        <input type="text" class="form-control" id="addProductName" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductDescription">Description</label>
                        <input type="text" class="form-control" id="addProductDescription" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductPrice">Price</label>
                        <input type="number" class="form-control" id="addProductPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductWeight">Weight</label>
                        <input type="number" class="form-control" id="addProductWeight" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductImage">Image</label>
                        <input type="file" class="form-control" id="addProductImage" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductAmmount">Ammount</label>
                        <input type="number" class="form-control" id="addProductAmmount" required>
                    </div>
                    <div class="form-group">
                        <label for="addProductCategory">Category</label>
                        <input type="number" class="form-control" id="addProductCategory" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveProduct">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm" enctype="multipart/form-data">
                    <input type="hidden" id="editProductId">
                    <div class="form-group">
                        <label for="editProductName">Product Name</label>
                        <input type="text" class="form-control" id="editProductName" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductDescription">Description</label>
                        <input type="text" class="form-control" id="editProductDescription" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductPrice">Price</label>
                        <input type="number" class="form-control" id="editProductPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductWeight">Weight</label>
                        <input type="number" class="form-control" id="editProductWeight" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductImage">Image</label>
                        <input type="file" class="form-control" id="editProductImage">
                        <!-- Hiển thị ảnh hiện tại nếu có -->
                        <img id="currentImage" src="" alt="Current Image" style="width:100px; height:100px; margin-top:10px;">
                    </div>
                    <div class="form-group">
                        <label for="editProductAmmount">Ammount</label>
                        <input type="number" class="form-control" id="editProductAmmount" required>
                    </div>
                    <div class="form-group">
                        <label for="editProductCategory">Category</label>
                        <input type="number" class="form-control" id="editProductCategory" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateProduct">Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Các hàm xử lý modal
        $(".modal .close, .modal button.btn-secondary").click(function () {
            $(this).closest(".modal").modal("hide");
        });

        loadProductList();

        $("#btnAdd").click(function () {
            $("#addProductModal").modal("show");
        });

        $("#saveProduct").click(function () {
            var formData = new FormData();
            formData.append("Name", $("#addProductName").val());
            formData.append("Description", $("#addProductDescription").val());
            formData.append("Price", $("#addProductPrice").val());
            formData.append("Weight", $("#addProductWeight").val());
            formData.append("ImageFile", $("#addProductImage")[0].files[0]);
            formData.append("Ammount", $("#addProductAmmount").val());
            formData.append("CategoryId", $("#addProductCategory").val());

            $.ajax({
                url: 'https://localhost:7135/api/Products/AddProduct',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#addProductModal").modal("hide");
                    loadProductList();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });

        $(document).on("click", ".btnEdit", function () {
            var productId = $(this).data("id");

            $.ajax({
                url: 'https://localhost:7135/api/Products/' + productId,
                type: 'GET',
                dataType: 'json',
                success: function (product) {
                    $("#editProductId").val(product.id);
                    $("#editProductName").val(product.name);
                    $("#editProductDescription").val(product.description);
                    $("#editProductPrice").val(product.price);
                    $("#editProductWeight").val(product.weight);
                    $("#editProductAmmount").val(product.ammount);
                    $("#editProductCategory").val(product.categoryId);

                    if (product.image) {
                        $("#currentImage").attr("src", 'data:image/jpeg;base64,' + product.image);
                    } else {
                        $("#currentImage").attr("src", ''); // Xóa ảnh nếu không có
                    }

                    $("#editProductModal").modal("show");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });

        $("#updateProduct").click(function () {
            var productId = $("#editProductId").val();
            var formData = new FormData();
            formData.append("Id", productId);
            formData.append("Name", $("#editProductName").val());
            formData.append("Description", $("#editProductDescription").val());
            formData.append("Price", $("#editProductPrice").val());
            formData.append("Weight", $("#editProductWeight").val());
            if ($("#editProductImage")[0].files.length > 0) {
                formData.append("ImageFile", $("#editProductImage")[0].files[0]);
            }
            formData.append("Ammount", $("#editProductAmmount").val());
            formData.append("CategoryId", $("#editProductCategory").val());

            $.ajax({
                url: 'https://localhost:7135/api/Products/UpdateProduct/' + productId,
                type: 'PUT',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#editProductModal").modal("hide");
                    loadProductList();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });

        $(document).on("click", ".btnDelete", function () {
            if (confirm("Are you sure you want to delete this product?")) {
                var productId = $(this).data("id");

                $.ajax({
                    url: 'https://localhost:7135/api/Products/DeleteProduct/' + productId,
                    type: 'DELETE',
                    success: function (response) {
                        loadProductList();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                    }
                });
            }
        });

        function loadProductList() {
            $.ajax({
                url: 'https://localhost:7135/api/Products',
                type: 'GET',
                dataType: 'json',
                success: function (products) {
                    var productContainer = $('#product-container').find('tbody');
                    productContainer.empty();

                    $.each(products, function (index, product) {
                        var row = '<tr>' +
                            '<td>' + product.id + '</td>' +
                            '<td>' + product.name + '</td>' +
                            '<td>' + product.description + '</td>' +
                            '<td>' + product.price + '</td>' +
                            '<td>' + product.weight + '</td>' +
                            '<td>' + '<img src="data:image/jpeg;base64,' + product.image + '" alt="Image" style="width:50px;height:50px;">' + '</td>' +
                            '<td>' + product.ammount + '</td>' +
                            '<td>' + product.categoryId + '</td>' +
                            '<td>' +
                            '<button class="btn btn-info btnEdit" data-id="' + product.id + '">Edit</button>' +
                            ' <button class="btn btn-danger btnDelete" data-id="' + product.id + '">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        productContainer.append(row);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        }
    });


</script>
